.custombookademoform {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.error-message {
    color: red;
    font-size: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0;
    font-family: "assistant";
    line-height: 1.3;
    margin: 0;
    text-align: left;
}

.custombookademoform label {
    margin-top: 1vw;
    font-weight: 600;
    font-size: 1.1vw;
    color: #333;
    font-family: "assistant";
}

.PhonenumberInput {
    border-radius: 0.3vw !important;
    font-size: 1.3vw !important;
    background-color: #ffffff !important;
    border-color: #cbbfbf !important;
    border-width: 1px 1px 1px 1px !important;
    border-radius: 3px 3px 3px 3px !important;
    font-family: "Assistant", Sans-serif !important;
    font-size: 1.3vw !important;
    color: #333333 !important;
    padding: 0.5vw 0.8vw !important;
}

.custombookademoform textarea {
    resize: none;
}

.custombookademoform input,
.custombookademoform textarea {
    width: 100%;
    padding: 0.7vw !important;
    margin-top: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    background-color: #ffffff;
    border-color: #cbbfbf;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px 3px 3px 3px;
    font-family: "Assistant", Sans-serif;
    font-size: 1.3vw !important;
    color: #333333 !important;
}

.custombookademoform select {
    width: 100%;
    padding: 0.7vw !important;
    margin-top: 0.5vw;
    font-family: "Assistant";
    border: 1px solid #ccc;
    border-radius: 0.3vw;
    font-size: 1.3vw !important;
    display: flex;
    margin-left: 0vw;
    color: #333333 !important;
}

.SubmitButtonEnterpriceLicense {
    padding: 0.6vw 1.3vw !important;
    margin: 1vw !important;
    background: #2323ce !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 1.1vw !important;
    cursor: pointer !important;
    min-width: 7.5vw !important;
    font-family: "assistant" !important;
    margin: auto !important;
    display: flex !important;
    align-items: center !important;
    font-weight: 600 !important;
    justify-content: center !important;
}

.displayFLexAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin1vw {
    margin: 1vw 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.custombookademoform button:hover {
    background: #1818b0;
}

.message-box {
    font-size: 1vw;
    display: none;
    font-family: "assistant";
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 4px;
}

.message-box.success {
    background-color: #e6ffed;
    color: #1a7f37;
    border: 1px solid #1a7f37;
    display: block;
}

.message-box.info {
    background-color: #fff7e6;
    color: #635f5c;
    border: 1px solid #7f6b1a;
    display: block;
}

.message-box.error {
    background-color: #ffe6e6;
    color: #d93025;
    border: 1px solid #d93025;
    display: block;
}

.dots-loader span {
    font-weight: bold;
    font-size: 2vw;
    animation: blink 1.4s infinite;
    opacity: 0;
}

.dots-loader span:nth-child(1) {
    animation-delay: 0s;
}

.dots-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots-loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.mainClassforPopup {
    width: 30vw;
    background: #f5f5f5;
    padding: 2vw;
    position: relative;
}

.Request-LicenseHeading {
    margin: 0;
    padding-bottom: 1vw;
    font-size: 1.5vw;
    color: #54595f;
    font-family: 'Assistant';
}

.DescriptionsforRequest {
    font-size: 1.1vw;
    font-family: var(--font-Assistant);
    text-align: left;
    color: #54595f;
}

.DescriptionsforRequest a {
    font-size: 1.1vw;
    font-family: var(--font-Assistant);
    text-decoration: none;
}

.closepopup-RequestLicense {
    font-size: 1.4vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    color: #54595f;
    cursor: pointer;
}

@media all and (max-width:768px) {
    .Request-LicenseHeading {
        font-size: 4.5vw;
    }

    .custombookademoform input,
    .custombookademoform textarea,
    .custombookademoform select {
        font-size: 3vw !important;
        padding: 2vw !important;

    }

    .SubmitButtonEnterpriceLicense {
        padding: 2vw 4.5vw !important;
        margin: 1vw !important;
        font-size: 3vw !important;
    }

    .closepopup-RequestLicense {
        font-size: 3.4vw;
    }

    .customPricetext {
        font-size: 3.3vw;
    }

    .mainClassforPopup {
        width: 75%;
padding: 4vw;
    }

    .DescriptionsforRequest {
        font-size: 3vw;
    }

    .DescriptionsforRequest a {
        font-size: 3vw;
    }

    .overviewsection p {
        font-size: 4vw;
    }
}